video_stat.parquet filter=lfs diff=lfs merge=lfs -text
. filter=lfs diff=lfs merge=lfs -text
video_stat[[:space:]]—[[:space:]]копия[[:space:]](2).parquet filter=lfs diff=lfs merge=lfs -text
video_stat[[:space:]]—[[:space:]]копия[[:space:]](3).parquet filter=lfs diff=lfs merge=lfs -text
video_stat[[:space:]]—[[:space:]]копия.parquet filter=lfs diff=lfs merge=lfs -text
texts.csv filter=lfs diff=lfs merge=lfs -text
